parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#2 \\$timestamp of function date expects int\\|null, int\\|false given\\.$#"
			count: 1
			path: src/Data/Month.php

		-
			message: "#^Method PreemStudio\\\\LivewireCalendar\\\\Data\\\\Week\\:\\:friday\\(\\) should return PreemStudio\\\\LivewireCalendar\\\\Data\\\\Day but returns PreemStudio\\\\LivewireCalendar\\\\Data\\\\Day\\|null\\.$#"
			count: 1
			path: src/Data/Week.php

		-
			message: "#^Method PreemStudio\\\\LivewireCalendar\\\\Data\\\\Week\\:\\:monday\\(\\) should return PreemStudio\\\\LivewireCalendar\\\\Data\\\\Day but returns PreemStudio\\\\LivewireCalendar\\\\Data\\\\Day\\|null\\.$#"
			count: 1
			path: src/Data/Week.php

		-
			message: "#^Method PreemStudio\\\\LivewireCalendar\\\\Data\\\\Week\\:\\:saturday\\(\\) should return PreemStudio\\\\LivewireCalendar\\\\Data\\\\Day but returns PreemStudio\\\\LivewireCalendar\\\\Data\\\\Day\\|null\\.$#"
			count: 1
			path: src/Data/Week.php

		-
			message: "#^Method PreemStudio\\\\LivewireCalendar\\\\Data\\\\Week\\:\\:sunday\\(\\) should return PreemStudio\\\\LivewireCalendar\\\\Data\\\\Day but returns PreemStudio\\\\LivewireCalendar\\\\Data\\\\Day\\|null\\.$#"
			count: 1
			path: src/Data/Week.php

		-
			message: "#^Method PreemStudio\\\\LivewireCalendar\\\\Data\\\\Week\\:\\:thursday\\(\\) should return PreemStudio\\\\LivewireCalendar\\\\Data\\\\Day but returns PreemStudio\\\\LivewireCalendar\\\\Data\\\\Day\\|null\\.$#"
			count: 1
			path: src/Data/Week.php

		-
			message: "#^Method PreemStudio\\\\LivewireCalendar\\\\Data\\\\Week\\:\\:tuesday\\(\\) should return PreemStudio\\\\LivewireCalendar\\\\Data\\\\Day but returns PreemStudio\\\\LivewireCalendar\\\\Data\\\\Day\\|null\\.$#"
			count: 1
			path: src/Data/Week.php

		-
			message: "#^Method PreemStudio\\\\LivewireCalendar\\\\Data\\\\Week\\:\\:wednesday\\(\\) should return PreemStudio\\\\LivewireCalendar\\\\Data\\\\Day but returns PreemStudio\\\\LivewireCalendar\\\\Data\\\\Day\\|null\\.$#"
			count: 1
			path: src/Data/Week.php

		-
			message: "#^Cannot access property \\$href on mixed\\.$#"
			count: 1
			path: src/Http/Livewire/Calendar.php

		-
			message: "#^Match expression does not handle remaining value\\: string$#"
			count: 1
			path: src/Http/Livewire/Calendar.php

		-
			message: "#^Method PreemStudio\\\\LivewireCalendar\\\\Http\\\\Livewire\\\\Calendar\\:\\:events\\(\\) return type with generic class Illuminate\\\\Support\\\\Collection does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/Http/Livewire/Calendar.php

		-
			message: "#^Method PreemStudio\\\\LivewireCalendar\\\\Http\\\\Livewire\\\\Calendar\\:\\:eventsForDay\\(\\) has parameter \\$events with generic class Illuminate\\\\Support\\\\Collection but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/Http/Livewire/Calendar.php

		-
			message: "#^Method PreemStudio\\\\LivewireCalendar\\\\Http\\\\Livewire\\\\Calendar\\:\\:eventsForDay\\(\\) return type with generic class Illuminate\\\\Support\\\\Collection does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/Http/Livewire/Calendar.php

		-
			message: "#^Method PreemStudio\\\\LivewireCalendar\\\\Http\\\\Livewire\\\\Calendar\\:\\:getSelectedDay\\(\\) has parameter \\$months with generic class Illuminate\\\\Support\\\\Collection but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/Http/Livewire/Calendar.php

		-
			message: "#^Method PreemStudio\\\\LivewireCalendar\\\\Http\\\\Livewire\\\\Calendar\\:\\:getSelectedDay\\(\\) should return PreemStudio\\\\LivewireCalendar\\\\Data\\\\Day but returns mixed\\.$#"
			count: 1
			path: src/Http/Livewire/Calendar.php

		-
			message: "#^Method PreemStudio\\\\LivewireCalendar\\\\Http\\\\Livewire\\\\Calendar\\:\\:getSelectedMonth\\(\\) has parameter \\$months with generic class Illuminate\\\\Support\\\\Collection but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/Http/Livewire/Calendar.php

		-
			message: "#^Method PreemStudio\\\\LivewireCalendar\\\\Http\\\\Livewire\\\\Calendar\\:\\:getSelectedMonth\\(\\) should return PreemStudio\\\\LivewireCalendar\\\\Data\\\\Month but returns mixed\\.$#"
			count: 1
			path: src/Http/Livewire/Calendar.php

		-
			message: "#^Method PreemStudio\\\\LivewireCalendar\\\\Http\\\\Livewire\\\\Calendar\\:\\:getSelectedWeek\\(\\) has parameter \\$months with generic class Illuminate\\\\Support\\\\Collection but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/Http/Livewire/Calendar.php

		-
			message: "#^Method PreemStudio\\\\LivewireCalendar\\\\Http\\\\Livewire\\\\Calendar\\:\\:getSelectedWeek\\(\\) should return PreemStudio\\\\LivewireCalendar\\\\Data\\\\Week but returns mixed\\.$#"
			count: 1
			path: src/Http/Livewire/Calendar.php

		-
			message: "#^Method PreemStudio\\\\LivewireCalendar\\\\Http\\\\Livewire\\\\Calendar\\:\\:getWeekEnd\\(\\) should return int but returns int\\|null\\.$#"
			count: 1
			path: src/Http/Livewire/Calendar.php

		-
			message: "#^Method PreemStudio\\\\LivewireCalendar\\\\Http\\\\Livewire\\\\Calendar\\:\\:getWeekStart\\(\\) should return int but returns int\\|null\\.$#"
			count: 1
			path: src/Http/Livewire/Calendar.php

		-
			message: "#^Parameter \\#1 \\$callback of method Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\),mixed\\>\\:\\:filter\\(\\) expects \\(callable\\(mixed, \\(int\\|string\\)\\)\\: bool\\)\\|null, Closure\\(PreemStudio\\\\LivewireCalendar\\\\Data\\\\Event\\)\\: bool given\\.$#"
			count: 1
			path: src/Http/Livewire/Calendar.php

		-
			message: "#^Parameter \\#1 \\$callback of method Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\),mixed\\>\\:\\:map\\(\\) expects callable\\(mixed, \\(int\\|string\\)\\)\\: Illuminate\\\\Support\\\\Collection\\<int, PreemStudio\\\\LivewireCalendar\\\\Data\\\\Week\\>, Closure\\(PreemStudio\\\\LivewireCalendar\\\\Data\\\\Month\\)\\: Illuminate\\\\Support\\\\Collection\\<int, PreemStudio\\\\LivewireCalendar\\\\Data\\\\Week\\> given\\.$#"
			count: 1
			path: src/Http/Livewire/Calendar.php

		-
			message: "#^Parameter \\#1 \\$callback of method Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\),mixed\\>\\:\\:map\\(\\) expects callable\\(mixed, \\(int\\|string\\)\\)\\: string, Closure\\(Carbon\\\\Carbon\\)\\: non\\-falsy\\-string given\\.$#"
			count: 1
			path: src/Http/Livewire/Calendar.php

		-
			message: "#^Parameter \\#1 \\$callback of method Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\),mixed\\>\\:\\:mapWithKeys\\(\\) expects callable\\(mixed, \\(int\\|string\\)\\)\\: array\\<int, PreemStudio\\\\LivewireCalendar\\\\Data\\\\Month\\>, Closure\\(Carbon\\\\Carbon\\)\\: non\\-empty\\-array\\<int, PreemStudio\\\\LivewireCalendar\\\\Data\\\\Month\\> given\\.$#"
			count: 1
			path: src/Http/Livewire/Calendar.php

		-
			message: "#^Parameter \\#1 \\$callback of method Illuminate\\\\Support\\\\Collection\\<int,mixed\\>\\:\\:filter\\(\\) expects \\(callable\\(mixed, int\\)\\: bool\\)\\|null, Closure\\(PreemStudio\\\\LivewireCalendar\\\\Data\\\\Day\\)\\: bool given\\.$#"
			count: 1
			path: src/Http/Livewire/Calendar.php

		-
			message: "#^Parameter \\#1 \\$callback of method Illuminate\\\\Support\\\\Collection\\<int,mixed\\>\\:\\:filter\\(\\) expects \\(callable\\(mixed, int\\)\\: bool\\)\\|null, Closure\\(PreemStudio\\\\LivewireCalendar\\\\Data\\\\Week\\)\\: bool given\\.$#"
			count: 1
			path: src/Http/Livewire/Calendar.php

		-
			message: "#^Parameter \\#1 \\$callback of method Illuminate\\\\Support\\\\Collection\\<int,mixed\\>\\:\\:map\\(\\) expects callable\\(mixed, int\\)\\: Illuminate\\\\Support\\\\Collection\\<int, PreemStudio\\\\LivewireCalendar\\\\Data\\\\Day\\>, Closure\\(PreemStudio\\\\LivewireCalendar\\\\Data\\\\Week\\)\\: Illuminate\\\\Support\\\\Collection\\<int, PreemStudio\\\\LivewireCalendar\\\\Data\\\\Day\\> given\\.$#"
			count: 1
			path: src/Http/Livewire/Calendar.php

		-
			message: "#^Parameter \\#1 \\$value of function collect expects Illuminate\\\\Contracts\\\\Support\\\\Arrayable\\<\\(int\\|string\\), Carbon\\\\CarbonInterface\\|null\\>\\|iterable\\<\\(int\\|string\\), Carbon\\\\CarbonInterface\\|null\\>\\|null, Carbon\\\\CarbonPeriod given\\.$#"
			count: 2
			path: src/Http/Livewire/Calendar.php

		-
			message: "#^Unable to resolve the template type TKey in call to function collect$#"
			count: 2
			path: src/Http/Livewire/Calendar.php
